body {
  margin: 0;
  padding: 0;
  background: #e2b7df;
  font-family: 'Comic Sans MS', cursive, sans-serif, Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  font-size: 3em;
  color: #e710d5;
  animation: pulse 1.5s infinite alternate;
  text-align: center;
  z-index: 1;
}

@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

button {
  margin-top: 20px;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #c338cf;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.mensagem {
  display: none;
  font-size: 1.5em;
  margin-top: 20px;
  color: #cc1fa7;
  text-align: center;
  z-index: 1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
